.span-23.round.box.right.last
	.span-8.append-1
		- if session[:account_diseases].count > 0
			%table{:style => "border: none;"}
				%tbody
					- if session[:account_diseases].include? "DM" and session[:account_diseases].include? "CKD"
						%tr
							%td.strong= link_to @all_active_dm, active_dm_account_patients_path(:only => 'DM')
							%td.strong Active Diabetic Patients
						%tr
							%td.strong= link_to @all_active_ckd, active_ckd_account_patients_path(:only => 'CKD')
							%td.strong Active Chronic Kidney Disease Patients
					%tr
						%td.strong= link_to @all_active_total, active_account_patients_path
						%td.strong Total Active Patients
